# Przykładowe zmienne środowiskowe dla konfiguracji workspace
SKW_SQLTOOLS_USERNAME=twoj_login[grupa]
SKW_SQLTOOLS_PASSWORD=twoje_haslo
HTTPS_PROXY=http://user:password@proxy:8080
HTTP_PROXY=http://user:password@proxy:8080
LOCAL_BIN=C:\Users\twoj_login\.local\bin
